@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

@media (max-width: 800px) {
    #home {
        min-height: auto;
        height: auto;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    #about {
        margin-top: 1.5rem;
        min-height: auto;
        height: auto;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        margin-bottom: 1.5rem;
    }
    #projects {
        min-height: auto;
        height: auto;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}
